
.valorantTitle{
    font-family: "Valorant", Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #ed2125;

}
.valorantSubTitle{
    font-family: "Valorant", Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #ed2125;

}

body {
    background-color: #12475f !important;
    position: absolute;
    background-size: cover;
    padding-bottom: 20px;
    border: 1px solid red;

}

.card-body {
    background-color: #ed2125 !important;
}
.card-header {
    color: black  !important;
}
.card-text {
    color: black !important;
}
.card {
    border-color: #ed2125;
}
.card-columns {
    border-color: #ed2125;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

